.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.planetsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.planetCard {
  border: 1px solid white;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.planetInfoCard {
  display: flex;
  flex-direction: column;
  border: 1px dashed white;
  padding: 1rem;
}

.planetImg {
  max-height: 4rem;
  max-width: 4rem;
}

.placeholderPlanetImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed white;
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  font-size: 2rem; /* scale emoji */
}

.spacecraftsContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap; /* wraps to new line if too many */
}

.spacecraftInfoCard {
  border: 1px dashed white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 5rem;
}

.spacecraftImg {
  max-height: 2.5rem;
  max-width: 2.5rem;
  padding: 0.5rem;
}

.placeholderSpacecraftImg {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
