/* general container for HomePage */
.container {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}

/* section for featured contents */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* individual feature box styling */
.feature {
  border: 1px dashed white;
  width: 100%;
}
